.active-link {
  color: rgb(84, 75, 75);
  text-decoration: none;
  padding: 10px;
}

.non-active-link {
  color: rgb(236, 246, 254);
  text-decoration: none;
  padding: 10px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(25, 27, 11, 0.641);
  align-items: center;
  padding: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.logo {
  width: 300px;
  margin: -10px;
}

@media (max-width: 1000px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 200px;
    margin: 0;
  }

  nav {
    justify-content: center;
    padding: 5px;
  }

  section {
    flex-direction: column;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .logo {
    width: 150px;
  }

  .active-link,
  .non-active-link {
    padding: 5px;
    font-size: 14px;
  }

  nav {
    flex-direction: column;
  }
}
