.active-link {
  color: red;
  text-decoration: none;
  padding: 10px;
}

.non-active-link {
  color: rgb(236, 246, 254);
  text-decoration: none;
  padding: 10px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(73, 121, 169);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding: 10px;
}

.logo {
  width: 90px;
}
